{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Payment method</th>
            <th>Order</th>
            <th>Date</th>
            <th>Amount</th>
            
        </tr>
    </thead>
    <tbody>
        {% for billing in bill %}
        <tr>
            <td>{{ billing.id }}</td>
            <td>{{ billing.payment_method }}</td>
            <td>{{ billing.order }}</td>
            <td>{{ billing.payment_date }}</td>
            <td>{{ billing.amount }}</td>
        {% endfor %}
        {%for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    </tbody>
</table>
<a href = "{% url 'add_billing' %}">Add</a>
<a href = "{% url 'billing_graph' %}">View Graph</a>

{% endblock %}