{% extends 'base.html' %}

{% block content %}


<h1>Orders</h1>
<a href="{% url 'create_order' %}" class="btn btn-primary mb-3">Create New Order</a>
{% if messages %}
    {% for message in messages %}
        <div style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %}; font-weight: bold;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Inventory</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Actions {% if messages %}
                    {% for message in messages %}
                        <div style="color: green; font-weight: bold;">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}</th>

        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.inventory }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.order_status }}</td>
            <td>
                <a href="{% url 'update_order' pk=order.id %}" class="btn btn-sm btn-warning">Edit</a>
                <form action="{% url 'delete_order' pk=order.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %} {% if  user.profile.role.name == 'Admin' or user.profile.role.name == 'Franchise Owner' %}
    <p>You are not authorized to view this page.</p>
{% endif %} {% endcomment %}
{% endblock %}